.list_category {
    width: 100%;
    border: 0;
    padding-top: 20px;
    display: inline-flex;
    border-bottom: 1px dotted #c7c7c7;
}

.list_category li {
    margin-right: 35px;
    border-bottom: dashed 1px #d1c2ae;
}

.list_category li a {
    font-size: 15px;
    color: #999;
}

.list_category li a.font-caregory-index {
    color: #333;
}

.content-contacus h1 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #a47b3e;
    float: left;
    width: 100%;
    font-weight: 600;
}

.add_ct {
    font-size: 17px;
    margin-bottom: 25px;
    color: #545454;
    font-weight: 500;
}

.clear {
    clear: both;
}

.form_contact {
    width: 100%;
    float: left;
    margin-top: 2px;
}

.form_contact p {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.form_contact .info_contact {
    width: 50%;
    float: left;
    padding: 10px 30px 10px 0px;
}

.form_contact .textfield_contact {
    width: 100%;
    border-radius: 30px;
    border: 1px solid #a4a4a4;
    height: 30px;
    padding: 0 10px;
}

*:focus {
    outline: none;
}

.form_contact .noidung_contact {
    padding: 10px 30px 10px 0px;
}

.send_mes {
    margin: auto;
    background: rgb(171, 36, 42);
    background: -moz-linear-gradient(left, rgb(171, 36, 42) 0%, rgb(251, 2, 2) 24%, rgb(239, 22, 2) 61%, rgb(164, 39, 45) 100%);
    background: -webkit-linear-gradient(left, rgb(171, 36, 42) 0%, rgb(251, 2, 2) 24%, rgb(239, 22, 2) 61%, rgb(164, 39, 45) 100%);
    background: linear-gradient(to right, rgb(171, 36, 42) 0%, rgb(251, 2, 2) 24%, rgb(239, 22, 2) 61%, rgb(164, 39, 45) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ab242a', endColorstr='#a4272d', GradientType=1);
    width: 200px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.guidi {
    background: none;
    border: none;
    color: #FFF;
    cursor: pointer;
    text-transform: uppercase;
    font-family: roboto;
    font-size: 20px;
    line-height: 38px;
}