.booking{
    width: 100%;
    
    position: relative;
    box-shadow: 0 4px 5px rgba(75,75,75,.15);
}
.booking-left{
    position: absolute;
    top: 0;
    left: 0;
    width:50%;
    height: 100%;
    background: #EFEEE9;
}
.booking-right{
   
    position: absolute;
    top: 0;
    right: 0;
    width:50%;
    height: 100%;
    background: #fff;
}

.booking__item{
    margin-top: 35px;
    padding-bottom: 15px;
    height: 450px;
    
}
.booking__item .form-group{
    margin-bottom: .3rem;
}

.booking__item .tab_main{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #A5772C;
}
.booking__item .tab_main a{
    font-size: 16px;
    padding: 10px 25px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
}
.booking__item .tab_main a.active{
    color: #fff;
    background: linear-gradient(to right, rgb(236, 213, 63) 0%,rgb(163, 159, 50) 24%,rgb(226, 229, 29) 61%,rgb(132, 124, 6) 100%);
}



.tab_contents{
    position: relative;
}
.tab_contents .tab_item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 15px;
}
.tab_contents .tab_item .col{
    padding-left: 0;
    padding-right: 0;
}
.tab_contents .tab_item .row{
    margin-left: -25px;
    margin-right: -25px;
}

.tab_contents .tab_item .gutter_ms{
    padding-left: 10px;
    padding-right: 10px;
}

.tab_contents .tab_item.active{
    display: block;
}

.tab_contents .code{
    padding: 0 30px 0 15px;
}
.tab_contents .code input{
    padding: 3px 15px;
    border-radius: 15px;
    width: 50%;
    outline: none;
    transition: all .4s ease;
    border: 1px solid #7f8c8d;
}
.tab_contents .code input:focus{
    width: 90%;
}

.tab_contents .code p.note{
    margin-top: 15px;
}


/*  */
.booking__header{
    display: flex;
    align-items: center;
}
 h3.title_box{
    color: #D0BC3F;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}

.booking__body{
    width: 100%;
    margin: 15px 0;
}
.booking__body .media{ 
   align-items: stretch;
}
.booking__body .media-img{ 
    width: 33.33%;
    position: relative;
    overflow: hidden;
}
.booking__body .media-img::before{
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    /* background: red; */
    transform: skewX(-25deg);
    transition: all .6s ease;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
 }

 .booking__body .media-img:hover:before{
        left: 100%;
        
 }

.booking__body .media-img img{ 
    width: 100%;
    height: 100%;
}
.booking__body .media-body{ 
    background: #E5E3DA;
    padding: 15px;
}
.booking__body .media-body h5{
    font-size: 15px;
    color: #000;
    font-weight: 600;
} 

.booking__body .media-body p{ 
    margin-bottom: 0;
    font-style: italic;
}
.intro-general{
    margin-top: 10px;
}
.intro-general a{
    display: block;
    line-height: 35px;
    text-decoration: none;
    color: #545454;;
    position: relative;
    /* font-style: italic; */
}
.intro-general a:hover{
    color: #A5772C;
}

.intro-general a::before{
    content: '';
    background: url(./../img/ico_item_mn.png);
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    width: 23px;
    height: 20px;
}
.intro-general a{ 
    border-bottom: 1px dashed;
    padding-left: 30px;
}


/* INTRO các chi nhánh */

.intro_branch{
    margin: 30px 0; 
}

/* Cusstom Nav Carousel */

.list_hotels .owl-carousel .owl-nav button.owl-next span,
.list_hotels .owl-carousel .owl-nav button.owl-prev span{
    display: none;
}

.list_hotels .owl-carousel .owl-nav button.owl-next,
.list_hotels .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 30px;
    outline: none;
}  
.list_hotels .owl-carousel .owl-nav button.owl-next{
    right: -25px;
    background: url(./../img/next_r.png);
    
}
.list_hotels .owl-carousel .owl-nav button.owl-prev{
    left: -25px;
    background: url(./../img/prev_r.png);
}

.owl-carousel .owl-item p img{
    width: auto;
    display: inline-block;
}


/* hotel-highlights */
.hotel-highlights{
    padding: 40px 0;
    background: #EFEEE9;
}
/* End hotel-highlights */
/* service */

 .service{
    padding: 30px 0;
 }

 .service__list{
    margin-top: 30px;
    background: #EFEEE9;
    border-radius: 5px;
 }

 .tab_service_main{
     width: 100%;

 }
 .tab_service_main a{
     display: block;
     padding: 10px 20px;
     text-align: right;
     text-decoration: none;
     color: #545454;
     background: #DBD8D7;
 }
 .tab_service_main a:hover{
     background:rgb(161, 154, 151);
     color: #f3f1f2;
 }

 .tab_service_main a.active{
    color: #fff;
    background: linear-gradient(to right, rgb(236, 213, 63) 0%,rgb(163, 159, 50) 24%,rgb(226, 229, 29) 61%,rgb(132, 124, 6) 100%);
}

 .tab_servie_item .box_img img{
    width: 100%;
 }
 .tab_servie_item{
     padding: 15px 15px 15px 0;
     display: none;
 }
 .tab_servie_item.active{
     display: block;
 }

 .tab_servie_item p._text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
 }

/* End service */
