.content-promotion h1 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 25px;
    color: #a47b3e;
    float: left;
    width: 100%;
    font-weight: 600;
}



.danhmuc {
    position: relative;
    margin-bottom: 30px;
}

.prod-subcontent2 {
    position: absolute;
    right: 0;
    bottom: -5px;
}

#faq_search_input2 {
    padding: 2px 15px;
    width: 260px;
    border-radius: 5px;
    border: 1px solid #8c8b8b;
    font-style: italic;
}

.l_tours {
    float: left;
    width: 250px
}

.camnang_left_mn {
    float: left;
    width: 100%;
    display: inherit;
}

.list_menu_t {
    background: url(../img/ico_item_mn.png) no-repeat 10px;
    float: left;
    line-height: 40px;
    border-bottom: dashed 1px #d2d2d2;
    height: 34px;
    width: 100%;
    text-align: left;
    padding-left: 36px;
}

.list_menu_t a {
    color: #333;
}

.list_menu_t a:hover {
    color: #093;
}

.mn_cndl {
    width: 100%;
    /* margin-left: 3%; */
    line-height: 40px;
    text-align: center;
    background-color: #008844;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    height: 35px;
}

.l_news_tt {
    float: left;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.camnang_dl h3 {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 5px;
    height: 22px;
    position: relative;
    overflow: hidden;
}

.img_camnang {
    width: 40%;
    float: left;
    position: relative;
    border: dashed 1px #d2d2d2;
    overflow: hidden;
}

figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

figure {
    position: relative;
}

figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

.xt_camnang a:hover {
    color: #060;
}

.xt_camnang a {
    padding-left: 24px;
    font-style: italic;
    line-height: 35px;
    color: darkred;
    font-size: 14px;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.img_camnang img {
    width: 100%;
    padding: 3px;
    float: left;
    height: 100px;
}

.xt_camnang {
    background: url(../images/ico_item_mn.png) no-repeat left;
    float: left;
    line-height: 31px;
    height: 31px;
}

.camnang_dl h3 {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 5px;
    height: 22px;
    position: relative;
    overflow: hidden;
}

.camnang_dl h3 a {
    color: #666;
}

.camnang_dl h3 a:hover {
    color: #390;
}


/* left */

.left {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.vt_search select,
option {
    font-size: 14px;
    color: #333;
    padding-left: 10px;
}

.diem_xp {
    border: solid 1px #d2d2d2;
    width: 99.3%;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
}

.s_tours {
    height: 30px;
    line-height: 32px;
    padding-left: 25px;
    padding-right: 25px;
    color: #FFF;
    background: #F90;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.xt_camnang {
    background: url(../images/ico_item_mn.png) no-repeat left;
    float: left;
    line-height: 31px;
    height: 31px;
}

ul.list_category {
    display: flex;
    width: 100%;
    border-bottom: dotted 1px #e2e2e2;
    /* float: left; */
    height: 25px;
    margin-top: 20px;
}

.list_category li {
    margin-right: 35px;
    line-height: 25px;
    border-bottom: dashed 1px #d1c2ae;
}

.list_category li a {
    font-size: 15px;
    color: #666
}

.list_category li a.font-caregory-inde {
    color: #333;
}

.vt_search select,
option {
    font-size: 14px;
    color: #333;
    padding-left: 10px;
}
.form#form_s {
    margin-top: 40px;
}
.vt_search {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.search-tour {
    margin-top: 30px;
}


/* end left */


/* detail promotion */

.content-detail_promotion h2 {
    font-size: 20px;
    color: #360;
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
}

#widget {
    display: none;
}

a.addthis_button_expanded.at300m {
    display: none;
}

.tt-new-other h2 {
    text-align: left;
    font-size: 15px;
    color: #360;
    font-weight: bold;
    width: 100%;
    float: left;
    border-bottom: solid 1px #d2d2d2;
    margin-bottom: 15px;
    margin-top: 30px;
}

.tt-new-other {
    float: left;
    width: 100%;
    line-height: 30px;
    text-align: left;
    border-bottom: dashed 1px #999;
    margin-bottom: 20px;
}