@media (max-width:575px){
    header a.logo img {
        height: 90px;
    }
    .video-intro {
        width:100%;
    }
    .image-text {
        width: 100%;
        
    }
    
    .path {
        margin: 65px 0 65px 0;
    }
    .input-search {
        float: none;
        margin-top: -80px;
    }
    .input-search input{
        width: 100%;
    }

    /* Dot Carousel */
    .list_hotels .owl-carousel .owl-nav button.owl-next {
        right: 0;
       
    }
    .list_hotels .owl-carousel .owl-nav button.owl-prev {
        left: 0;
       
    }
}



@media (max-width:991px){
    header{
        padding: 0 0;
    }

    .contact-phone .hotline{
        display: none;
    }
    .menu  ul.nav_menu{
        display: none;
    }
    .header-top{
        top: 42px;
        right: 75px;
    }
    .menu a.toggle-menu-mb{
        display: block;
        position: fixed;
        top: 50px;
        right: 15px;
    }

    /* Menu Moblie */


    /* Menu Footer */
    .menu-footer ul {
        flex-wrap: wrap;
        justify-content:space-around
    }

    /* Nav - area */
    .nav-area{
        display: none;
     }
}

















@media (min-width: 576px)
{
.container {
    max-width: 100%;
}
}
@media (min-width: 1200px)
{
.container {
    max-width: 1150px;
}
}
@media (min-width: 1400px)
{
.container {
    max-width: 1300px;
}
}