


@media (max-width:991px){
    header{
        padding: 0 0;
    }

    header a.logo img {
        height: 80px;
        padding: 15px;
    }

    .contact-phone .hotline{
        display: none;
    }
    .menu  ul.nav_menu{
        display: none;
    }
    .header-top {
        top: 50%;
        transform: translateY(-50%);
        right: 75px;
    }
    .menu a.toggle-menu-mb{
        display: block;
        position: fixed;
        top: 30px;
        right: 15px;
    }

    /* Menu Moblie */
    .menu--mobile .container{
        padding-left: 0;
        padding-right: 0;
    }

    /* Menu Footer */
    .menu-footer ul {
        flex-wrap: wrap;
        justify-content:space-around
    }

    /* Nav - area */
    .nav-area{
        display: none;
     }

     /* Icon Phone */
     .phone-mobile{
         display: block;
     }

     .end-footer{
         display: none;
     }

    /* Dot Carousel */
    .list_hotels .owl-carousel .owl-nav button.owl-next {
        right: 0;
    
    }
    .list_hotels .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    
    }

}




@media (max-width:575px){
    
    .video-intro {
        width:100%;
    }
    .image-text {
        width: 100%;
        
    }
    

    .menu a.toggle-menu-mb{
        display: block;
        position: fixed;
        top: 32px;
        right: 15px;
    }
    
    .path {
        margin: 65px 0 65px 0;
    }
    .input-search {
        float: none;
        margin-top: -80px;
    }
    .input-search input{
        width: 100%;
    }

   
    /* Menu Mobile */
    .menu--mobile {
        top: 80px;
    }
    
}













@media (min-width: 576px)
{
.container {
    max-width: 100%;
}
}
@media (min-width: 1200px)
{
.container {
    max-width: 1150px;
}
}
@media (min-width: 1400px)
{
.container {
    max-width: 1300px;
}
}